<div class="sheet-body bonfire">
    <div>
        <div class="resource-label">
            Spell
        </div>
        <input id="spellName" type="text" />
    </div>
    <div class="grid grid-2col">
        <div>
            <div class="resource-label">
                Origin Drain
            </div>
            <input id="origin" class="effect" type="text" data-dtype="Number" value="0" />
        </div>
        <div>
            <div class="resource-label">
                Effect Drain
            </div>
            <input id="effect" class="effect" type="text" data-dtype="Number" value="0" />
        </div>
        <div>
            <div class="resource-label">
                Order
            </div>
            <input id="order" class="effect" type="text" data-dtype="Number" value="1" />
        </div>
        <div>
            <div class="resource-label">
                Intervals
            </div>
            <input id="interval" class="effect" type="text" data-dtype="Number" value="1" />
        </div>
        <div>
            <div class="resource-label">
                Spell Points
            </div>
            <input id="spellPoints" class="effect" type="text" data-dtype="Number" value="0" />
        </div>
    </div>

    <div>
        Total Drain: <span id="totalDrain"></span>
    </div>
    <div>
        Order Allowance: <span id="orderAllowance"></span>
    </div>
    
</div>
