<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Base Dice Formula</label>
          <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="resource-label">Base Weapon Damage</label>
          <input type="text" name="system.damageFormula" value="{{system.damageFormula}}" data-dtype="String" />
        </div>
      </div>
      <div class="grid grid-4col">
        <div class="resource">
          <div class="resource-label">Damage Type</div>
          <select name="system.damageType" data-type="String">
            {{selectOptions selects.damageTypes selected=system.damageType localize=false}}
          </select>
        </div>
        <div class="resource">
          <div class="resource-label">Attack Type</div>
          <select name="system.attackType" data-type="String">
            {{selectOptions selects.attackTypes selected=system.attackType localize=false}}
          </select>
        </div>
        <div class="resource">
          <div class="resource-label">Size</div>
          <select name="system.size" data-type="String">
            {{selectOptions selects.sizes selected=system.size localize=false}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Recovery</label>
          <input type="text" name="system.recovery" value="{{system.recovery}}" data-dtype="Number" />
        </div>
      </div>
      <div class="grid grid-4col">
        <div class="resource">
          <label class="resource-label">Measure</label>
          <input type="text" name="system.measure" value="{{system.measure}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Base Parry</label>
          <input type="text" name="system.baseParry" value="{{system.baseParry}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Range Increment</label>
          <input type="text" name="system.rangeIncrement" value="{{system.rangeIncrement}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Initiative</label>
          <input type="text" name="system.initiative" value="{{system.initiative}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Defense</label>
          <input type="text" name="system.defense" value="{{system.defense}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Parry</label>
          <input type="text" name="system.parry" value="{{system.parry}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Flanks</label>
          <input type="text" name="system.flanks" value="{{system.flanks}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Cover</label>
          <input type="text" name="system.cover" value="{{system.cover}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Full Cover</label>
          <input type="text" name="system.fullCover" value="{{system.fullCover}}" />
        </div>
        <div class="resource">
          <label class="resource-label">Parry DR</label>
          <input type="text" name="system.parryDr" value="{{system.parryDr}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Parry Dice DR</label>
          <input type="text" name="system.parryDiceDr" value="{{system.parryDiceDr}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">DR</label>
          <input type="text" name="system.dr" value="{{system.dr}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Dice DR</label>
          <input type="text" name="system.diceDr" value="{{system.diceDr}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource">
        <label class="resource-label">Traits</label>
        <textarea type="text" name="system.traits" rows="4">{{system.traits}}</textarea>
      </div>
    </div>
  </section>

</form>