<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Quality</label>
          <input type="text" name="system.quality" value="{{system.quality}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula</label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String" />
      </div>
      <div class="resource">
        <label class="resource-label">Weight</label>
        <div class="flexrow">
          <input type="text" name="system.weight.value" value="{{system.weight.value}}" data-dtype="Number" />
          <select name="system.weight.type" data-type="String">
            {{selectOptions selects.weights selected=system.weight.type localize=false blank=""}}
          </select>
        </div>
      </div>
      <div class="resource grid grid-4col">
        <div class="resource">
          <label class="resource-label">Source</label>
          <input type="text" name="system.cost.source" value="{{system.cost.source}}" data-dtype="Number" />
          {{ system.fullCost.source }}
        </div>
        <div class="resource">
          <label class="resource-label">Local</label>
          <input type="text" name="system.cost.local" value="{{system.cost.local}}" data-dtype="Number" />
          {{ system.fullCost.local }}
        </div>
        <div class="resource">
          <label class="resource-label">Nearby</label>
          <input type="text" name="system.cost.nearby" value="{{system.cost.nearby}}" data-dtype="Number" />
          {{ system.fullCost.nearby }}
        </div>
        <div class="resource">
          <label class="resource-label">Distant</label>
          <input type="text" name="system.cost.distant" value="{{system.cost.distant}}" data-dtype="Number" />
          {{ system.fullCost.distant }}
        </div>
      </div>
    </div>
  </section>
</form>